<%layout("/layouts/boilerplate")%>

<div class="row">
  <% for(let r of rev){%>
  <div class="card col-3 ms-2 mt-2 offset-2 mb-2" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">User:<%=r.owner.username%></h5>
      <!-- <p class="card-text">Rating:<%=r.rating%></p> -->

      <p class="starability-result" data-rating="<%=r.rating%>"></p>
      <p class="card-text">Rating:<%=r.comment%></p>
      <p class="card-text">Rating:<%=r.createdAt%></p>

      <% if(r.owner._id.equals(user._id)){%>
      <form
        method="POST"
        action="/listings/<%=id%>/reviews/<%=r._id%>?_method=DELETE"
      >
        <button class="btn btn-danger">DELETE</button>
      </form>
      <%}%>
    </div>
  </div>
  <% }%>
</div>
